
  .rightArrow {
    position: absolute;
    top: 35%;
    right: 3%;
    height: 30px;
    width: 30px
  }
  .leftArrow {
    position: absolute;
    top: 35%;
    left: 3%;
    height: 30px;
    width: 30px;
  }
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }